VITE_GATEWAY_TOKEN=eyJhbGciOiJIUzM4NCJ9.eyJzdWIiOiJhZG1pbkBzYW1zdW5nLmNvbSIsInVzZXJJZCI6ImFkbWluQHNhbXN1bmcuY29tIiwibmFtZSI6Iuq5gOqwnOuwnCIsImVtYWlsIjoiYWRtaW5Ac2Ftc3VuZy5jb20iLCJkZXBhcnRtZW50Q29kZSI6ImRlcHQwMDAiLCJkZXBhcnRtZW50TmFtZSI6IkFYIOyEnOu5hOyKpO2MgCIsInJvbGUiOiJQTEFOTkVSIiwiaWF0IjoxNzc2MjI2NTYzLCJleHAiOjE3NzYzMTI5NjN9.Xc7BGEvBiudTBYGYJ_MncGYkDi9EBIVAwHL9GKmH4my5dVpj0b7nVehopDhmCZs5